<!-- <app-captcha></app-captcha><br><br> -->
<!-- <app-social-login></app-social-login> -->
<!-- <app-map></app-map> -->
 <!-- <app-payment-gateway></app-payment-gateway> -->
<!-- <app-map-auto-complete></app-map-auto-complete> -->
<!-- <app-calender></app-calender> -->
<!-- <app-img-crop></app-img-crop> -->
<label>Time Picker</label>
<ngx-time-picker [(selectedTime)]="timeExample"></ngx-time-picker>


<br>
<button (click)="dateExample=null;timeExample=null;dateTimeExample=null;" >Clear All</button>
<button (click)="setToNow()">Set all to now</button>

<br>
{{ timeExample }}
